---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 120
PointerAlignment: Left
IndentWidth: 2
AccessModifierOffset: -2
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false
NamespaceIndentation: All
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
PackConstructorInitializers: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
FixNamespaceComments: true
Cpp11BracedListStyle: false
AlignAfterOpenBracket: BlockIndent
...
